/* - - - Panel Administrador - - - */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #262E3F;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3rem;
	color: #fff;
}

/* Encabezado */
header .sidebar {
	position: fixed;
	height: 100%;
	width: 0;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #0F172A;
	overflow-x: hidden;
	transition: 0.4s;
	padding: 1rem 0;
	box-sizing: border-box;
	overflow-y: hidden; /* Quitar Scroll Vertical */
}

header .sidebar .boton-cerrar {
	position: absolute;
	top: 0.5rem;
	right: 1rem;
	font-size: 2rem;
	display: block;
	padding: 0;
	line-height: 1.5rem;
	margin: 0;
	width: 32px;
	height: 32px;
	text-align: center;
	vertical-align: top;
}

header .sidebar ul,
header .sidebar li {
	margin: 0;
	padding: 0;
	list-style: none;
}

header .sidebar ul {
	width: 80%;
	display: block;
	margin: 4rem auto;
	min-width: 200px;
}

header .sidebar a {
	display: block;
	font-size: 120%;
	color: #fff;
	text-decoration: none;
	padding: 20px;
}

header .sidebar a:hover {
	color: #94c2e5;
}

header .sidebar .img_perfil {
	text-align: center;
}

header .sidebar .img_perfil img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

header .sidebar .img_perfil h3,
header .sidebar .img_perfil h5 {
	padding: 5px;
}
/* - - - - - - */

/* Mensaje de error */
.container .alert {
	background-color: #ffdddd;
	color: #000;
	padding: 20px;
}

.container .closebtn {
	float: right;
	margin-left: 15px;
	color: #000;
	font-weight: bold;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.container .closebtn:hover {
	color: gray;
}
/* - - - - - - */

/* Paginación */
.container .paginacion {
	margin-bottom: 30px;
}

.container .paginacion ul {
	list-style: none;
	text-align: center;
}

.container .paginacion ul li {
	display: inline-block;
	margin: 0 5px;
	color: #fff;
}

.container .paginacion ul li a {
	background-color: #D5733B;
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
}
.container .paginacion ul li a:hover {
	background-color: rgba(213, 115, 59, 0.6);
	text-decoration: none;
}

.container .paginacion ul .active {
	background-color: #D5733B;
	padding: 10px 20px;
}

.container .paginacion ul .disabled {
	background-color: #a8a8a8;
	padding: 10px 20px;
	cursor: not-allowed;
}

.container .paginacion ul .disabled:hover {
	background-color: #a8a8a8;
}
/* - - - - - - */

.container .abrir-cerrar {
	color: #fff;
	font-size: 4rem;
}

.container #abrir:hover,
.container #cerrar:hover {
	color: rgba(255, 255, 255, 0.6);
}

.container #cerrar {
	display: none;
}

/* Contenedor Dashboard */
#admin {
	transition: margin-left .4s;
	padding: 1rem;
}

.container #admin h2,
.container #admin h4 {
	text-align: center;
}

.container #admin .group {
	text-align: center;
}

.container #admin .group .izq {
	background-color: #C90076;
	width: 20%;
	height: 250px;
	font-size: 2rem;
	display: inline-block;
	margin: 0 auto;
}

.container #admin .group .der {
	background-color: #2986CC;
	float: right;
	width: 20%;
	height: 250px;
	font-size: 2rem;
}

.container #admin .group .izq h2,
.container #admin .group .izq h5,
.container #admin .group .der h2,
.container #admin .group .der h5 {
	padding: 50px;
}

.container #admin h3 {
	padding: 40px;
	margin: 60px 400px;
}
/* - - - - - - */

/* Buscador */
.container .be .buscador,
.container .admin .buscador {
	text-align: center;
	padding: 10px;
}

.container .be .buscador form .form-control,
.container .admin .buscador form .form-control {
	width: 40%;
	height: 35px;
	border: none;
	border-radius: 10px;
	font-size: 1.2rem;
	padding: 8px; /* Espacio */
}

.container .be .buscador form .form-control:focus,
.container .admin .buscador form .form-control:focus {
	outline: 3px solid #1414ff;
}

.container .be .buscador form .botones,
.container .admin .buscador form .botones {
	background-color: #2986CC;
	width: 35px;
	height: 35px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.container .be .buscador form .botones:hover,
.container .admin .buscador form .botones:hover {
	background-color: rgba(41, 134, 204, 0.6);
	border: 1px solid rgba(41, 134, 204, 0.6);
}

.container .be .buscador form .botones .fa-search,
.container .admin .buscador form .botones .fa-search {
	color: #fff;
	font-size: 1.2rem;
}
/* - - - - - - */

/* Contenedor Bebidas */
.container .be {
	transition: margin-left .4s;
	padding: 1rem;
}

.container .be .container-md {
	background-color: #0F172A;
	width: 45%;
	margin: 100px auto;
	border: none;
	border-radius: 15px;
	padding: 10px;
}

.container .be .container-md h2 {
	text-align: center;
	padding: 20px;
}

/* Botón Nuevo */
.container .be .container-md .botones {
	background-color: #2986CC;
	width: 25%;
	height: 35px;
	border: none;
	border-radius: 10px;
	text-align: center;
	float: right;
	padding: 5px;
	cursor: pointer;
}

.container .be .container-md .botones:hover {
	background-color: rgba(41, 134, 204, 0.6);
}

.container .be .container-md .botones a {
	text-decoration: none;
	color: #fff;
}

/* Tabla */
.container .be .container-md table {
	width: 100%;
	color: #000;
	margin: 60px auto;
}

.container .be .container-md table th {
	background-color: #2986CC;
	border-bottom: 2px solid #000;
	color: #fff;
	font-size: 1rem;
}

.container .be .container-md table td {
	background-color: #fff;
}

.container .be .container-md table th ,
.container .be .container-md table td {
	padding: 10px;
	text-align: center;
}

.container .be .container-md td img {
	width: 80px;
	height: 80px;
}

.container .be .container-md table td .fa-eye,
.container .be .container-md table td .fa-pen,
.container .be .container-md table td .fa-trash-alt {
	text-decoration: none;
	color: #000;
	font-size: 1.2rem;
}

.container .be .container-md table td .fa-eye:hover {
	color: rgba(0, 0, 0, 0.6);
}

.container .be .container-md table td .fa-pen {
	text-decoration: none;
	color: #ffa500;
}

.container .be .container-md table td .fa-pen:hover {
	color: rgba(255, 165, 0, 0.6);
}

.container .be .container-md table td .fa-trash-alt {
	text-decoration: none;
	color: #ff0000;
}

.container .be .container-md table td .fa-trash-alt:hover {
	color: rgba(255, 0, 0, 0.6);
}
/* - - - - - - */

/* Contenedor Nueva/Editar Bebida */
.container .drink {
	background-color: #0F172A;
	width: 35%;
	border: none;
	border-radius: 10px;
	text-align: center;
	margin: 80px auto;
}

.container .drink h2 {
	color: #fff;
	padding: 30px;
}

.container .drink form .img_bebidas {
	text-align: center;
	padding: 20px;
}

.container .drink form .img_bebidas img {
	width: 150px;
	height: 150px;
}

.container .drink form .group-1,
.container .drink form .group-2,
.container .drink form .group-3,
.container .drink form .group-4,
.container .drink form .group-5,
.container .drink form .group-6 {
	padding: 12px;
}

.container .drink form .group-1 .form-control,
.container .drink form .group-3 .form-control,
.container .drink form .group-6 .form-control {
	width: 80%;
	height: 35px;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	padding: 8px; /* Espacio */
}

.container .drink form .group-1 .form-control:focus,
.container .drink form .group-2 .form-control:focus,
.container .drink form .group-3 .form-control:focus,
.container .drink form .group-4 .form-control:focus,
.container .drink form .group-5 .form-control:focus,
.container .drink form .group-6 .form-control:focus {
	outline: 3px solid #1414ff;
}

.container .drink form .group-2 textarea,
.container .drink form .group-4 textarea,
.container .drink form .group-5 textarea {
	width: 80%;
	height: 50px;
	border: none;
	border-radius: 5px;
	min-width: 80%;
	max-width: 80%;
	min-height: 50px;
	max-height: 200px;
	font-size: 1rem;
	padding: 8px; /* Espacio */
}

.container .drink form .botones a {
	float: left;
	background-color: #ff0000;
	width: 30%;
	height: 35px;
	border: none;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	padding: 5px;
	margin-left: 50px;
	font-size: 1.2rem;
}

.container .drink  form .botones a:hover {
	background-color: rgba(255, 0, 0, 0.6);
}

.container .drink form .botones .btn {
	float: right;
	background-color: #138808;
	width: 30%;
	height: 35px;
	border: none;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	padding: 5px;
	margin-right: 50px;
	font-size: 1.2rem;
}

.container .drink form .botones .btn:hover {
	background-color: rgba(19,136, 8, 0.6);
}
/* - - - - - - */

/* Contenedor Administrador */
.container .admin {
	transition: margin-left .4s;
	padding: 1rem;
}

.container .admin .container-sm {
	background-color: #0F172A;
	width: 45%;
	margin: 100px auto;
	border: none;
	border-radius: 15px;
	padding: 10px;
}

.container .admin .container-sm h2 {
	text-align: center;
	padding: 20px;
}

/* Botón Nuevo */
.container .admin .container-sm .botones {
	background-color: #2986CC;
	width: 25%;
	height: 35px;
	border: none;
	border-radius: 10px;
	text-align: center;
	float: right;
	padding: 5px;
	cursor: pointer;
}

.container .admin .container-sm .botones:hover {
	background-color: rgba(41, 134, 204, 0.6);
}

.container .admin .container-sm .botones a {
	text-decoration: none;
	color: #fff;
}

/* Tabla */
.container .admin .container-sm table {
	width: 100%;
	color: #000;
	margin: 60px auto;
}

.container .admin .container-sm table th {
	background-color: #2986CC;
	border-bottom: 2px solid #000;
	color: #fff;
	font-size: 1rem;
}

.container .admin .container-sm table td {
	background-color: #fff;
}

.container .admin .container-sm table th,
.container .admin .container-sm table td {
	padding: 10px;
	text-align: center;
}

.container .admin .container-sm table td .fa-pen,
.container .admin .container-sm table td .fa-trash-alt {
	text-decoration: none;
	color: #000;
	font-size: 1.2rem;
}

.container .admin .container-sm table td .fa-pen {
	text-decoration: none;
	color: #ffa500;
}

.container .admin .container-sm table td .fa-pen:hover {
	color: rgba(255, 165, 0, 0.6);
}

.container .admin .container-sm table td .fa-trash-alt {
	text-decoration: none;
	color: #ff0000;
}

.container .admin .container-sm table td .fa-trash-alt:hover {
	color: rgba(255, 0, 0, 0.6);
}
/* - - - - - - */

/* Contenedor Nuevo/Editar Administrador */
.container .add {
	background-color: #0F172A;
	width: 40%;
	border: none;
	border-radius: 10px;
	text-align: center;
	margin: 80px auto;
}

.container .add h2 {
	color: #fff;
	padding: 30px;
}

.container .add form .form-group { /* Conjunto 1 y 2 */
	padding: 12px;
	text-align: center;
}

.container .add form .form-group .conj-1,
.container .add form .form-group .conj-4 { /* Izquierda */
	float: left;
	padding: 12px; /* Espacio */
}

.container .add form .form-group .conj-2,
.container .add form .form-group .conj-5 { /* Derecha */
	float: right;
	padding: 12px; /* Espacio */
}

.container .add form .form-group .conj-1 .form-control,
.container .add form .form-group .conj-2 .form-control,
.container .add form .form-group .conj-4 .form-control,
.container .add form .form-group .conj-5 .form-control {
	width: 100%;
	height: 35px;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	padding: 8px; /* Espacio */
}
.container .add form .form-group .conj-1 .form-control:focus,
.container .add form .form-group .conj-2 .form-control:focus,
.container .add form .conj-3 .form-control:focus,
.container .add form .form-group .conj-4 .form-control:focus,
.container .add form .form-group .conj-5 .form-control:focus {
	outline: 3px solid #1414ff;
}

.container .add form .conj-3 {
	text-align: center;
	padding: 12px;
}

.container .add form .conj-3 .form-control {
	width: 96%;
	height: 35px;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	padding: 8px; /* Espacio */
}

.container .add form .botones a {
	float: left;
	background-color: #ff0000;
	width: 30%;
	height: 35px;
	border: none;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	padding: 5px;
	margin-left: 50px;
	font-size: 1.2rem;
}

.container .add  form .botones a:hover {
	background-color: rgba(255, 0, 0, 0.6);
}


.container .add form .botones .btn {
	float: right;
	background-color: #138808;
	width: 30%;
	height: 35px;
	border: none;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	padding: 5px;
	margin-right: 50px;
	font-size: 1.2rem;
}

.container .add form .botones .btn:hover {
	background-color: rgba(19,136, 8, 0.6);
}
/* - - - - - - */

@media screen and (max-width: 800px) {

}