* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3rem;
}

/* Encabezado */
header {
	background-color: #fff;
	width: 100%;
	display: block;
}

header hr {
	background-color: rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 2px;
}

/* Logo */
header .logo {
	padding: 50px;
}

header .logo a {
	font-size: 1.2rem;
	font-style: italic;
	text-decoration: none;
	color: #000;
}

header .logo .bt-menu {
	display: none;
}

/* Contenedor Secundario */
header .navigation {
	width: 100%;
	display: flex;
}

/* Menú */
header .navigation nav ul {
	list-style: none;
	overflow: none;
}

header .navigation nav ul li {
	float: left;
}

header .navigation nav ul li:hover {
	text-decoration: underline; /* Linea abajo */
	text-decoration-color: #fff; /* Color */
	text-decoration-style: solid; /* Tipo de línea */
	text-decoration-thickness: 5px; /* Tamaño de la línea */
}

header .navigation nav ul li a {
	display: block;
	text-decoration: none;
	padding: 50px;
	color: #000;
}

header .navigation nav ul li a:hover {
	color: rgba(213, 115, 59, 0.6);
}

/* Buscador */
header .navigation .buscador {
	padding: 50px;
}

header .navigation .buscador .form-control {
	height: 25px;
	border: 1px solid #000;
	border-radius: 15px;
	font-size: 1rem;
	padding: 10px; /* Espacio */
}

header .navigation .buscador .form-control:focus {
	outline: 3px solid #1414ff;
}

header .navigation .buscador form .botones {
	background-color: transparent;
	border: 1px solid #000;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	width: 25px;
	height: 25px;
}

header .navigation .buscador form .botones:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

header .navigation .buscador form .botones .fa-search {
	border: none;
	outline: none;
	color: #000;
	font-size: 1.2rem;
}

/* Contenedor Usuario */
header .navigation .usuario {
	padding: 50px;
	cursor: pointer;
}

header .navigation .usuario .dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

header .navigation .usuario .dropdown-content a {
	color: #000;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

header .navigation .usuario .dropdown-content a:hover {
	background-color: rgba(213, 115, 59, 0.6);
}

header .navigation .usuario .dropdown:hover .dropdown-content {
	display: block;
}

header .navigation .usuario .dropdown .fa-user {
	color: #000;
}
/* - - - - - - */

/* Paginación */
.container .paginacion {
	margin-bottom: 30px;
}

.container .paginacion ul {
	list-style: none;
	text-align: center;
}

.container .paginacion ul li {
	display: inline-block;
	margin: 0 5px;
	color: #fff;
}

.container .paginacion ul li a {
	background-color: #D5733B;
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
}
.container .paginacion ul li a:hover {
	background-color: rgba(213, 115, 59, 0.4);
	text-decoration: none;
}

.container .paginacion ul .active {
	background-color: #D5733B;
	padding: 10px 20px;
}

.container .paginacion ul .disabled {
	background-color: #a8a8a8;
	padding: 10px 20px;
	cursor: not-allowed;
}

.container .paginacion ul .disabled:hover {
	background-color: #a8a8a8;
}
/* - - - - - - */

/* Mensaje de error */
.container .alert {
	background-color: #ffdddd;
	color: #000;
	padding: 20px;
}

.container .closebtn {
	float: right;
	margin-left: 15px;
	color: #000;
	font-weight: bold;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.container .closebtn:hover {
	color: gray;
}
/* - - - - - - */

/* Página Errores */
.container .error {
	margin-top: 5%;
	text-align: center;
}

.container .error img {
	width: 500px;
	height: 400px;
}

.container .error h2 {
	font-size: 4rem;
	text-align: center;
}
/* - - - - - - */

/* Contenedor de Login */
.container .login {
	background-color: #722F37;
	width: 30%;
	margin: 80px auto; /*arriba-abajo | izquierda-derecha*/
	border: none;
	border-radius: 12px;
	padding: 10px; /* Espacio */
}

.container .login h2 {
	text-align: center;
	color: #fff;
}

.container .login form .group_1,
.container .login form .group_2 {
	text-align: center;
	padding: 12px; /* Espacio */
}

.container .login form .group_1 .form-control,
.container .login form .group_2 .form-control {
	width: 90%;
	height: 35px;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	padding: 8px; /* Espacio */
}

.container .login form .group_1 .form-control:focus,
.container .login form .group_2 .form-control:focus {
	outline: 3px solid #1414ff;
}

.container .login form .botones {
	text-align: center;
	padding: 10px; /* Espacio */
}

.container .login form .botones .button {
	background-color: #a84551;
	width: 40%;
	height: 35px;
	border: none;
	border-radius: 8px;
	font-size: 1rem;
	color: #fff;
}

.container .login form .botones .button:hover { /* Al pasar el mouse sobre el botón */
	background-color: #c6747e;
	cursor: pointer;
}

.container .login form .botones .button:focus { /* Al dar clic en el botón */
	background-color: #be626d;
}

.container .login .enlaces {
	text-align: center;
	padding: 10px; /* Espacio */
}

.container .login .enlaces a {
	text-decoration: none;
	color: #fff;
	font-size: 1rem;
}

.container .login .enlaces a:hover {
	color: #d9d9d9;
}
/* - - - - - - */

/* Contenedor de Registro */
.container .register {
	background-color: #722F37;
	width: 45%;
	margin: 80px auto; /*arriba-abajo | izquierda-derecha*/
	border: none;
	border-radius: 12px;
	padding: 10px; /* Espacio */
}

.container .register h2 {
	text-align: center;
	color: #fff;
}

.container .register form .form-group { /* Conjunto 1 y 2 */
	padding: 12px;
	text-align: center;
}

.container .register form .form-group .group_3,
.container .register form .form-group .group_6 { /* Derecha */
	float: left;
	padding: 12px; /* Espacio */
}

.container .register form .form-group .group_4,
.container .register form .form-group .group_7 { /* Izquierda */
	float: right;
	padding: 12px /* Espacio */;
}

.container .register form .form-group .group_3 .form-control,
.container .register form .form-group .group_4 .form-control,
.container .register form .form-group .group_6 .form-control,
.container .register form .form-group .group_7 .form-control {
	width: 100%;
	height: 35px;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	padding: 8px; /* Espacio */
}

.container .register form .form-group .group_3 .form-control:focus,
.container .register form .form-group .group_4 .form-control:focus,
.container .register form .group_5 .form-control:focus,
.container .register form .form-group .group_6 .form-control:focus,
.container .register form .form-group .group_7 .form-control:focus,
.container .register form .group_8 .form-control:focus {
	outline: 3px solid #1414ff;
}

.container .register form .group_5,
.container .register form .group_8,
.container .register form .group_9,
.container .register form .group_10 {
	text-align: center;
	padding: 12px;
	color: #fff;
}

.container .register form .group_5 .form-control,
.container .register form .group_8 .form-control {
	width: 96%;
	height: 35px;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	padding: 8px; /* Espacio */
}

.container .register form .group_10 #preview { /* Preview Imagen */
	margin: auto;
	width: 150px;
	height: 150px;
}

.container .register form .group_10 #preview img {
	width: 100%;
	height: 100%;
}

.container .register form .group_11 {
	padding: 12px;
	font-size: 1.1rem;
	color: #fff;
}

.container .register form .group_11 .form-control {
	width: 18px;
	height: 18px;
}

.container .register form .botones {
	text-align: center;
	padding: 10px;
}

.container .register form .botones .button {
	background-color: #a84551;
	width: 40%;
	height: 35px;
	border: none;
	border-radius: 8px;
	font-size: 1rem;
	color: #fff;
	cursor: pointer;
}

.container .register form .botones .button:hover { /* Al pasar el mouse sobre el botón */
	background-color: #c6747e;
}

.container .register form .botones .button:focus { /* Al dar clic en el botón */
	background-color: #be626d;
}

.container .register .enlaces {
	text-align: center;
	padding: 10px; /* Espacio */
}

.container .register .enlaces a {
	text-decoration: none;
	color: #fff;
	font-size: 1rem;
}

.container .register .enlaces a:hover {
	color: #d9d9d9;
}
/* - - - - - - */

/* Página de Inicio */
.container .home {
	padding: 50px;
}

.container .home .botones {
	background-color: #D5733B;
	width: 15%;
	height: 60px;
	float: right;
	border: none;
	border-radius: 8px;
	text-align: center;
	cursor: pointer;
	padding: 15px;
}

.container .home .botones:hover {
	background-color: rgba(213, 115, 59, 0.6);
}

.container .home .botones a {
	text-decoration: none;
	color: #fff;
}

.container .home h2 {
	color: #D5733B;
}

.container .home .grupo {
	display: flex;
	justify-content: center;
}

.container .home .grupo .fila {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
	margin-top: 8px;
}

.container .home  .grupo .fila a {
	text-decoration: none;
	color: #D5733B;
}

.container .home .grupo .fila .card {
	background-color: #B1F1FF;
	width: 180px;
	height: 180px;
	text-align: center;
	position: relative;
	margin: 30px 30px;
	display: flex;
	border: none;
	border-radius: 12px;
	flex-direction: column;
	cursor: pointer;
	transition: transform .3s;
}

.container .home .grupo .fila .card:hover {
	box-shadow: 2px 2px 5px 2px #e0e0e0;
	transform: scale(1.1);
}

.container .home .grupo .fila .card img {
	width: 100px;
	height: 100px;
	margin: 20px auto;
}
/* - - - - - - */

/* Página Categorías */
.container .bebida {
	padding: 20px;
}

.container .bebida h2 {
	padding: 20px;
	color: #D5733B;
}

.container .bebida .grupo {
	display: flex;
	justify-content: center;
}

.container .bebida .grupo .fila {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
	margin-top: 8px;
}

.container .bebida .grupo .fila a {
	text-decoration: none;
	color: #D5733B;
}


.container .bebida .grupo .fila .card {
	background-color: #B1F1FF;
	width: 180px;
	height: 180px;
	text-align: center;
	position: relative;
	margin: 60px;
	display: flex;
	border: none;
	border-radius: 12px;
	flex-direction: column;
	cursor: pointer;
	transition: transform .3s;
}

.container .bebida .grupo .fila .card:hover {
	box-shadow: 2px 2px 5px 2px #e0e0e0;
	transform: scale(1.1);
}

.container .bebida .grupo .fila .card img {
	width: 100px;
	height: 100px;
	margin: 20px auto;
}

.container .bebida .title {
	color: #D5733B;
	text-align: center;
}

.container .alc {
	display: flex;
	justify-content: center;
}

.container .alc .ft {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
	margin-top: 8px;
}

.container .alc .ft a {
	text-decoration: none;
	color: #D5733B;
}

.container .alc .ft .card {
	background-color: #B1F1FF;
	width: 400px;
	height: 350px;
	position: relative;
	margin: 30px 70px;
	display: flex;
	border-radius: 0 0 15px 15px;
	flex-direction: column;
	transition: transform .3s;
}

.container .alc .ft .card:hover {
	box-shadow: 2px 2px 5px 2px #e0e0e0;
	transform: scale(1.1);
}

.container .alc .ft .card .imgBx {
	width: 100%;
	height: 50%;
}

.container .alc .ft .card .imgBx img {
	width: 100%;
	height: 100%;
}

.container .alc .ft .card h2 {
	text-align: center;
	color: #000;
}

.container .alc .ft .card .botones a {
	background-color: #D5733B;
	float: right;
	width: 30%;
	height: 35px;
	border-radius: 8px;
	color: #fff;
	padding: 5px;
	text-align: center;
	margin: 30 20px;
}
/* - - - - - - */

/* Detalle de Bebidas */
.container .detail {
	padding: 30px;
}

.container .detail .title,
.container .detail .portada,
.container .detail .videos {
	text-align: center;
}

.container .detail .portada img {
	width: 70%;
	height: 70%;
}

.container .detail .ingredients h2,
.container .detail .ingredients span p,
.container .detail .pr h2,
.container .detail .pr span li {
	margin-left: 90px;
}
/* - - - - - - */

/* Buscador */
.container .bosque .grupo {
	display: flex;
	justify-content: center;
}

.container .bosque .grupo .cnt {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
	margin-top: 8px;
}

.container .bosque .grupo .cnt a {
	text-decoration: none;
	color: #D5733B;
}

.container .bosque .grupo .cnt .card {
	background-color: #B1F1FF;
	width: 400px;
	height: 350px;
	position: relative;
	margin: 30px 70px;
	display: flex;
	border-radius: 0 0 15px 15px;
	flex-direction: column;
	transition: transform .3s;
}

.container .bosque .grupo .cnt .card:hover{
	box-shadow: 2px 2px 5px 2px #e0e0e0;
	transform: scale(1.1);
}

.container .bosque .grupo .cnt .card .imgBx {
	width: 100%;
	height: 50%;
}

.container .bosque .grupo .cnt .card .imgBx img {
	width: 100%;
	height: 100%;
}

.container .bosque .grupo .cnt .card h2 {
	text-align: center;
	color: #000;
}

.container .bosque .grupo .cnt .card .botones a {
	background-color: #D5733B;
	float: right;
	width: 30%;
	height: 35px;
	border-radius: 8px;
	color: #fff;
	padding: 5px;
	text-align: center;
	margin: 30 20px;
}
/* - - - - - - */

/* Propiedades en dispositivos con resolución máxima de 800px */
@media screen and (max-width: 800px) {
	/* Contenedor de Login */
	.container .login {
		width: 90%;
	}

	.container .login form .botones .button {
		width: 80%;
	}
	/* - - - - - - */

	/* Contenedor de Registro */
	.container .register {
		width: 90%;
	}

	.container .register form .form-group .group_3,
	.container .register form .form-group .group_4,
	.container .register form .form-group .group_6,
	.container .register form .form-group .group_7 {
		width: 100%;
		margin-top: 10px;
	}

	.container .register form .group_5,
	.container .register form .group_8, {
		width: 100%;
	}

	.container .register form .botones .button {
		width: 80%;
	}

	/* Página de Inicio */
	.container .home .botones {
		float: none;
		width: 90%;
		height: 35px;
		padding: 5px;
	}

	.container .bebida .alc .ft{
		display: block;
	}
	.container .bebida .alc .ft .card {
		width: 100%;
		margin: 50px auto;
	}

	/* Detalle de bebida */
	.container .detail .portada img {
		width: 100%;
		height: 50%;
		text-align: center;
	}

	.container .detail .videos iframe {
		width: 100%;
		height: 40%;
	}

	.container .detail .ingredients h2,
	.container .detail .pr h2 {
		text-align: center;
	}

	/* - - - - - - */
}